body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;

    background-image: url('Gambar5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

@media (max-width: 768px) {
    body {
        background-attachment: scroll; /* Atur ulang untuk layar kecil jika diperlukan */
    }
}
.countdown-container {
    text-align: center;
    background-color: #FFFFFF7F;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#countdown {
    font-size: 2em;
    margin-top: 20px;
}

#countdown span {
    display: inline-block;
    width: 60px;
}
